<nav class='nav'>
    <a class='logo' href="/"><h1>*note-taker</h1></a>

    <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/about'>About</a></li>
        <li><a href='/notes'>My Notes</a></li>
        <li><a href='/notes/create-new-note'>Create New Note</a></li>
        <li><a href='/auth/logout'>Logout</a></li>
    </ul>
</nav>