<html lang="en">

    <%- include('partials/head.ejs') %>

<body>
    
    <%- include('partials/navbar.ejs') %>

    <div class="about content">
        <h1>About *note-taker</h1>
        <p>Hi, welcome to *note-taker!</p>
        <p>*note-taker is a website that is designed to provide a minimalistic note-taking experience. </p>
        <p>With a few simple clicks, you can jot down any creative/random/quirky thought that comes to your mind.</p>
        <p>Enjoy!</p>
        <br>
    </div>
</body>
</html>