<html lang="en">

    <%- include('partials/head.ejs') %>

<body>
    
    <%- include('partials/navbar.ejs') %>

    <div class="about content">
        <h2>About</h2>
        <p>Hi! Welcome to note-taker.</p>
        <br>
    </div>
</body>
</html>