<html lang="en">
    <%- include('partials/head.ejs') %>
<body>
    <div class="login-container content">
        <div class="header">
            <h1><i class="fas fa-book-reader"></i> note-taker</h1>
            <p>A minimalistic platform, for your notes.</p>
            <a href="/about" class="about-btn">Read more about us here</a>
        </div>
        <hr>
        <a href="/auth/google" class="login-btn">
            <i class="fab fa-google"></i> Log in with Google
        </a>
    </div>
</body>
</html>