<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <div class="404 content">
        <h1>404 Not Found</h1>
        <p>We're sorry, but the page is not found :(</p>
        <a href="/dashboard" class="dashboard-btn">Return to Dashboard</a>
    </div>
</body>
</html>