<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <div class="404 content">
        <h1>Server Error</h1>
        <p>We're sorry, something went wrong :(</p>
        <a href="/dashboard" class="dashboard-btn">Return to Dashboard</a>
    </div>
</body>
</html>