nav {
  background: #e6e6e6;
  height: 80px;
}

nav a {
  text-decoration: none;
}

nav .logo {
  display: inline-block;
  height: 100%;
  margin: 0;
  margin-left: 15%;
  color: black;
  text-align: center;
}

nav ul {
  list-style: none;
  text-align: center;
  float: right;
  margin-right: 15%;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 15px;
  color: #8c8c8c;
  font-weight: 800;
  text-transform: uppercase;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

nav ul li a:hover {
  color: #666666;
}

nav ul li a {
  position: relative;
}

nav ul li a:after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background:#666666;
  height: 1px;
}

nav ul li a:hover:after {
  width: 100%;
}